.item {
  width: 270px;
}
.item:hover{
    transform: scale(1.05);
    transition: .6s ease;
}
.item p {
  margin: 6px 0px;
  width: 80%;
}
.item-prices {
  display: flex;
  gap: 20px;
}
.img {
  width: 100%;
  height: 300px;
}
.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}
.item-price-old {
  font-size: 18px;
  font-weight: 500;
  color: #8c8c8c;
}
